body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #FBFFFE;
}

main{
    padding:3%;

}

h2{
    font-size:1.6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.o-nama{
  margin:150px auto;
  text-align: center;
}

.o-nama-block{
    width:60%;
    height: auto;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    background-color: #E2E6E5;
    margin:40px auto;
}

.o-nama-title{
    background-color: #96031A;
    text-align: center;
    color: #E2E6E5;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */
    padding:0.2;
}

.o-nama-content{
    padding:0.5% 5%;
    text-align:center;
    font-size:1.2em;
}

.o-nama-thumb{
    padding-bottom: 2%;
}

.o-nama-img{
    width:100%;
    height: auto;
}

.heading{
    font-size:3em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:100px 0px;
}

#toTop{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-color: rgb(64, 64, 128);
    color: white;
    text-align: center;
    line-height: 60px;
    font-size:2em;
    opacity:1;
    transition:0.2s;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    cursor:pointer;
    display:none;
}
#toTop:hover{
    background-color:rgb(77, 77, 124);
    color:whitesmoke;
    transition:0.2s;
    border-radius:30px;
}