header{
    background-color :lavender;
    height: 300px;
    padding:0.5%;
    position:relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ) */

}

.logoHome{
    width:100px;
    height: 100px;
}

.logoContainer{
    width:300px;
    height: auto;
    text-align: center;
    margin:157px auto;
}

#logoImg{
    width:100%;
    height: auto;;
    box-shadow: 0 0 0;
    border-radius: 30px;
}

nav{
    width:auto;
    float:right;
    margin-right: 2%;
    position:relative;
    border-radius:30px;
}

ul{
    display:inline-block;
}

li{
    display: inline-block;
    width:120px;
    height: auto;
    margin-left:6px;
    background-color:#fffffe;
    padding:5px;
    text-align:center;
    border-radius:3px;
    font-size:1.3em;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


li:hover{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transition:0.3s;
    cursor:pointer;
    background-color:whitesmoke;
}